body {
  margin: 0;
  background: #00a5be;
  font-family: system-ui;
  overflow-x: hidden;
  background-image: url('/images/asset-red.svg');
  background-position: left 200px top;
  background-repeat: no-repeat;
}

.logo {
  grid-area: logo;
  margin: 0 auto 2em;
  display: block;
}

.grid {
  position: relative;
  z-index: 2;
  display: grid;
  height: calc(100vh - 8em);
  padding: 4em;
  grid-column-gap: 8em;
  grid-template-columns: 50px 1fr 1fr 200px;
  grid-template-rows: 230px 100px 1fr 1fr 1fr;
  grid-template-areas: "asset-top logo logo social" "name character-name avatar avatar" "about character-description avatar avatar" "asset-bottom character-text avatar avatar" "asset-bottom learn-more arrow other-line" ;
}

.social a {
  text-decoration: none;
}
.arrow {
  grid-area: arrow;
  cursor: pointer;
  /* border: 1px solid red; */
  background-image: url('/images/arrow.svg');
  background-repeat: no-repeat;
  background-position: left  bottom ;
}
.learn-more {
  grid-area: learn-more;
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-end;
  font-size: 25px;
  text-transform: uppercase;
  background-image: url('/images/learn-more.svg');
  background-repeat: no-repeat;
  background-position: left 170px bottom 5px;
}
.asset.top {
  grid-area: asset-top;
  /* border: 1px solid red; */
}
.asset {
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
}
.asset.bottom {
  grid-area: asset-bottom;
  /* border: 1px solid green; */
  justify-content: flex-end;
}
.navigation {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation.name {
  grid-area: name;
  /* border: 1px solid purple; */
}
.navigation.about {
  grid-area: about;
  /* border: 1px solid purple; */
}

.navigation a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  text-transform: uppercase;
}

.social {
  grid-area: social;
  /* border: 1px solid red; */
}



.character-description-container {
  grid-area: character-description;
}

/* .navigation {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  position: absolute;
  left: 2em;
  height: calc(100vh - 8em);
  bottom: 0;
  text-align: center;
  border: 1px solid red;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding-inline: 4em;
  display: none;
} */

.navigation .text {
  display: inline-flex;
  margin-inline: 35px;
}

.dot {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  display: inline-flex;
  margin-inline: 5px;
}

.links {
}

.line {
  width: 2px;
  height: 150px;
  background: black;
  display: inline-flex;
  margin-inline: 15px;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 2em;
}

.character {
  text-align: center;
}
.character-image {
  max-width: 100%;
  /* width: auto; */
  border-radius: 50%;
}

.character-label {
  background: #685128;
  padding: 1em;
  color: white;
  border-radius: 10px;
  text-align: left;
  font-size: 25px;
  font-weight: 400;
  /* display: inline-flex; */
}

.placeholder-container {
  /* max-width: 100vw; */
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.character-name {
  position: relative;
  font-size: 30px;
}
.character-name h2:after {
  content: "";
  width: 87px;
  height: 6px;
  background-color: #F7391C;
  display: inline-flex;
  position: absolute;
  left: calc(100% + 5px);
  top: 50%;
}

.character-name-placeholder {
  color: rgba(0,0,0,.1);
  font-size: 600px;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 1;
  white-space: nowrap;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
@media screen and (max-width: 1440px) {
  .grid {
    column-gap: 2em;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background-position: left 50px top;
  }
  .grid {
    height: auto;
    padding: 2em 0;
    width: calc(100vw - 2em);
    margin: 0 auto;
    column-gap: 1em;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "logo logo logo" "name avatar avatar" "name character-name character-name" "about character-description character-description" "arrow arrow arrow" "social social social";
  }

  .logo {
    max-width: 100%;
  }
  .character-name {
    text-align: center;
  }
  .character-name h2:after {
    left: 0;
    top: calc(100% - 20px);
  }

  .character-name-container{
    margin-top: 1em;
    justify-content: center;
  }
  .social {
    text-align: center;
    margin-top: 2em;
  }
  .asset {
    display:none;
  }
  .learn-more {
    display: none;
    /* padding-inline-start: 1em; */
  }
  .arrow {
    user-select: none;
    height: 50px;
    background-position: center;
  }
  .character-image-container img{
    /* display: none; */
  }
  .social a {
    margin-left: 2em;
  }
  .social a:first-child {
    margin-left: 0;
  }
}